*{
  font-family: 'Montserrat', sans-serif !important;
  font-size: 14px;
}
.btn:focus, .btn.focus, .btn:active, .form-control:focus {
  box-shadow: none;
}

/* CSS Styles for header.php */

#hello {
  width: 32px;
  background-color: #fff;
  padding: 4px;
  border-radius: 8px;
}
#main {
  background: url('../assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -100px;
  height: 92vh;
}
.main-page-header {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #218F76 !important;
}
.main-header{
  background-color: #f2f2f2;
}

/* CSS Styles for index.php */

.main-page-img {
  width: 200px !important;
}
.main-page-row {
  height: 400px;
}
.main-page-row div.col-md-4, .main-page-row div.col-md-8  {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-page-text {
  line-height: 1.8em;
}

/* CSS Styles for footer.php */


footer {
  background-color: rgb(11, 56, 46); 
  height: 440px;
}
#hello-footer {
  width: 100px;
}
.foot {
  height: 400px;
  justify-content: center;
  align-items: center;
}
.text-foot {
  color: #218F76;
  font-size: 32px;
}
.to-top {
  height: 40px;
  background-color: rgb(11, 56, 46); 
  color: #218F76;
  border-bottom: 1px solid rgb(9, 43, 35);
  display: flex;
  justify-content: center;
  align-items: center;
}
.to-top:hover {
  background-color: rgb(9, 43, 35);
}
.to-top-link:link{
  text-decoration: none !important;
}
.copyright {
  background-color: rgb(9, 43, 35);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS Styles for login.php */

.login-form {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form form {
  border: 1px solid #218F76;
  border-radius: 5px;
  width: 33%;
  padding: 30px;
}

/* CSS Styles for register.php */

.register-form {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form form {
  border: 1px solid #218F76;
  border-radius: 5px;
  width: 50%;
  padding: 30px;
}

/* CSS Styles for voter.php */

.voter-profile {
  margin-top: 40px;
  margin-bottom: 40px;
}
.profile-card {
  box-shadow: 6px 4px 20px 2px #f2f2f2;
}
.status {
  text-align: center;
  background-color: #51A85D;
  color: #fff;
  font-weight: 800;
  border-top: 1px solid #fff;
}
.nav-dropdown {
  background-color: #218F76;
}
.nav-dropdown a {
  color: #fff;
}
.vote{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-check{
  height: 40px;
  border: 1px solid green;
  margin-bottom: 10px;
  width: 320px;
  padding: 10px 40px;
  border-radius: 4px;
}

.changePassword{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.changePassword form{
  border-radius: 5px;
  width: 33%;
  padding: 30px;
  border: 1px solid #218F76;
}

.deleteAccount{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.deleteAccount form{
  border-radius: 5px;
  width: 33%;
  padding: 30px;
  border: 1px solid red;
}